<!doctype html>
<html>
    <head>
        <title>Google Technical Challenge</title>
    </head>
    <body>
      <div align='center'>
          <h1>Google Technical Challenge</h1>
          <form method="POST" action="/add">
          <h3><input type="text" name="name" placeholder="Employee Name"><br><br>
              <input type="text" name="department" placeholder="Department Name"></h3>
          <input type="submit" value="Add"> <br><br>
          {{name}}
          <a href = "/">Go back to Home page</a>
          </form>
      </div>
    </body>
</html>